<!-- gererator: -->
<div class="px-4 md:w-[540px] mx-auto">
	<!-- title: -->
	<h1 class="text-[16px] font-bold md:text-[24px] text-app-grey text-center py-2 mt-10 md:mt-20">
	Password Generator
	</h1>

	<!-- result section: -->
	<app-result-section 
		[isGeneratedPassword]="isGeneratedPassword"
		[password]="password"
	></app-result-section>

	<!-- editor: -->
	<div class="w-full bg-app-dark-grey mt-5 p-5">
		<app-input-range
			(newRangeValue)="setLength($event)">
		</app-input-range>

		<!-- options: -->
			<div *ngFor="let option of options; let i = index" (click)="changeChecked(i)" class="flex items-center gap-4 mb-4 cursor-pointer">
				<!-- checkbox: -->
				<div class="relative w-5 h-5">
					<svg [ngClass]="!option.checked ? 'hidden' : ''" class="absolute top-0 left-0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" fill="#A4FFAF"/><path d="M4 10.6066L7.39341 14L15.3934 6" stroke="#18171F" stroke-width="3"/></svg>
					<div [ngClass]="option.checked ? 'hidden' : ''" class="absolute top-0 left-0 w-5 h-5 border-[2px] border-app-white bg-app-dark-grey lg:hover:border-app-green">
				</div>
				</div>
				<p class="text-app-white text-[16px] md:text-[18px] font-bold">{{option.name}}</p>
			</div>
		

		<!-- strength: -->
		<app-strength [strength]="strength"></app-strength>

		<!-- button: -->
		<button [disabled]="!this.options[0].checked && !this.options[1].checked && !this.options[2].checked && !this.options[3].checked" 
			(click)="generatePass()" 
			class="h-[56px] md:h-[65px] w-full bg-app-green lg:hover:bg-app-dark-grey lg:hover:border-[2px] lg:hover:border-app-green transition-all flex items-center justify-center gap-4 text-app-dark-grey lg:hover:text-app-green disabled:opacity-50 disabled:cursor-not-allowed">
			<span class=" text-[16px] md:text-[18px] font-bold">GENERATE</span>
			<svg class="size-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" /></svg>			  
		</button>
		
	</div>

</div>


<!-- signature: -->
<div class="text-app-white w-full flex flex-col items-center text-xs mt-5 h-[200px]">
	<p>created by: 
		<a class="underline text-app-green" href="https://turoczyvajk.hu/" target="_blank">Vajk Turóczy</a>
	</p>
	<p>challange from:
		<a class="underline text-app-green" href="https://www.frontendmentor.io/challenges/password-generator-app-Mr8CLycqjh" target="_blank">frontendmentor.io</a>
	</p>
</div>